/****************************************
GLOBAL STYLES
****************************************/

:root {
  --page-header-padding: 1rem;
  --slate: #263238;
  --orange: #FF6D2D;
  --burnt-orange: #CC5500;
  --sky-blue: #00CCFF;
  --royal-blue: #4169E1;
  --cream: #FFFDD0;
  --plum-purple: #513653;
}

img {width: 100%;}

section h2 {
  font-family: sans-serif;
  color: var(--plum-purple);
}

/* make section headings match size and feel of paragraphs, etc. */
section h2 {
  margin-top: 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: unset;
}

/* boost content size (also to match headings) for readability */
p, ul, ol {
  font-size: 1.5rem;
}

a         {color: var(--slate);}
a:visited {color: var(--slate);}
a:hover   {color: var(--royal-blue);}
a:active  {color: var(--burnt-orange)}

/****************************************
UTILITY STYLES
****************************************/

/* put content into the center of the page */
.centered-container {
  margin: 0 auto;
  max-width: 1200px;
}

.list-style-none {
  list-style: none;
}

/****************************************
Page header
****************************************/

header.page-header {
  height: calc(100vh - var(--page-header-padding)*2);
  padding: var(--page-header-padding);
  background-color: var(--slate);
  color: var(--orange);
}

/* .page-header-inner-container {
  position: relative;
} */

.page-header-inner-container {
  position: relative;
  height: 100%;
}

header.page-header .page-header-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -70%); /* keep the 70% ? */
  width: 100%;
  text-align: center; /* pointless because flex align used already? */
}

header.page-header .page-header-title h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'Lobster', cursive;
  font-size: 4rem;
}

header.page-header .page-header-title h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

header.page-header nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center; /* pointless because flex align used already? */
}

header.page-header nav a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem;
}

header.page-header nav a          {color: var(--sky-blue);}
header.page-header nav a:visited  {color: var(--sky-blue);}
header.page-header nav a:hover    {color: var(--royal-blue);}
header.page-header nav a:active   {color: var(--cream)}

main article {
  min-height: 400px;
  padding: 4rem 2rem;
}

/****************************************
Intro/About section
****************************************/

.headshot-container {
  text-align: center;
}

.headshot-container img {
  border-radius: 50%;
  width: 80%;
  max-width: 400px;
}

.intro-greeting {
  font-family: 'Lobster', cursive;
  color: var(--burnt-orange);
}

.intro-spacer {
  margin-bottom: 2rem;;
}

/****************************************
Project section
****************************************/

.project {
  margin-bottom: 4rem;
}

/****************************************
Contact section
****************************************/

.contact-list li {
  margin: 1rem 0;
}

/****************************************
Page footer
****************************************/

footer.page-footer {
  position: relative;
  height: 200px;
  background-color: var(--plum-purple);
  color: var(--cream);
}

footer.page-footer p {
  position: absolute;
  padding: 1rem;
  bottom: 0;
}

/****************************************
BASE FLEXBOX STYLES
****************************************/

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-spaced-evenly {
  justify-content: space-evenly;
}

.flex-align-center {
  align-items: center;
}

/* proportional flex sizing */
.flex-item-1x {flex: 1;}
.flex-item-2x {flex: 2;}
.flex-item-3x {flex: 3;}
.flex-item-4x {flex: 4;}

/****************************************
MEDIA QUERIES
****************************************/

@media all and (min-width: 640px) {
  .flex-container {
    flex-direction: row;
  }

  .flex-row-reverse {
    flex-direction: row-reverse;
  }

  header.page-header .page-header-title h1 {
    font-size: 6rem;
  }

  header.page-header .page-header-title h2 {
    font-size: 1.3rem;
  }

  header.page-header nav {
    width: 100%;
  }

  header.page-header nav a {
    margin: 1.5rem;
  }

  section h2 {
    text-align: left;
  }

  .project {
    margin: 0 2rem 4rem;
  }
}

@media all and (min-width: 1024px) {
  .project {
    max-width: 400px;
  }
}