/****************************************
GLOBAL STYLES
****************************************/

:root {
  --page-header-padding: 1rem;
  --slate: #263238;
  --orange: #FF6D2D;
  --burnt-orange: #CC5500;
  --sky-blue: #00CCFF;
  --royal-blue: #4169E1;
  --cream: #FFFDD0;
  --plum-purple: #513653;
  --light-mint: #aaf0df;
}

body {
  background-color: #efefef;
}

img {width: 100%;}

section {
  margin: 0 auto; /* center the content */
  max-width: 1200px;
  padding: 4rem 2rem;
}

/* make section headings match size and feel of paragraphs, etc. */
section h2 {
  margin-top: 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: unset;
  font-family: sans-serif;
  color: var(--slate);
}

/* boost content size (also to match headings) for readability */
article p, ul, ol, label {font-size: 1.3rem;}

a         {color: var(--slate);}
a:visited {color: var(--slate);}
a:hover   {color: var(--royal-blue);}
a:active  {color: var(--burnt-orange)}

/****************************************
UTILITY STYLES
****************************************/

.list-style-none {
  list-style: none;
}

/****************************************
Page header
****************************************/

header.page-header {
  height: calc(100vh - var(--page-header-padding)*2);
  padding: var(--page-header-padding);
  background-color: var(--slate);
  color: var(--orange);
}

/* .page-header-inner-container {
  position: relative;
} */

.page-header-inner-container {
  position: relative;
  height: 100%;
}

header.page-header .page-header-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -70%); /* keep the 70% ? */
  width: 100%;
  text-align: center; /* pointless because flex align used already? */
}

header.page-header .page-header-title h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'Lobster', cursive;
  font-size: 4rem;
}

header.page-header .page-header-title h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

header.page-header nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center; /* pointless because flex align used already? */
}

header.page-header nav a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  margin: 1rem;
}

header.page-header nav a          {color: var(--cream);}
header.page-header nav a:visited  {color: var(--cream);}
header.page-header nav a:hover    {color: var(--royal-blue);}
header.page-header nav a:active   {color: var(--cream)}

/****************************************
Intro/About section
****************************************/

.headshot-container {
  padding-bottom: 2rem;
  text-align: center;
}

.headshot-container img {
  border-radius: 50%;
  width: 80%;
  max-width: 400px;
}

.intro-greeting {
  font-family: 'Lobster', cursive;
  color: var(--burnt-orange);
}

.intro-spacer {
  /* margin-bottom: 2rem;; */
}

/****************************************
Project section
****************************************/

.contrast-background-light {
  background-color: var(--light-mint);
}

.project {
  margin-bottom: 4rem;
  color: var(--plum-purple);
}

/****************************************
Contact section
****************************************/

#contact form fieldset {
  border: none;
  border: 0;
}

#contact form label, input, textarea {
  display: block;
  width: 100%;
}

#contact form label {
  margin-bottom: 0.5rem;
  font-family: 'Open Sans', sans-serif;
}

#contact form input, textarea {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border: 1px solid #aaa;
}

#contact form textarea {
  min-height: 8rem;
}

#contact form button[type=submit] {
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: var(--burnt-orange);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

#contact form button[type=submit]:hover {
  cursor: pointer;
  background-color: var(--orange);
}

.contact-list {
  padding-left: 0;;
  text-align: center;
}

.contact-list li {
  display: inline-block;
  margin: 2rem 1rem;
}

.contact-list a {
  text-decoration: none;
  font-size: 120%;
}

/****************************************
Page footer
****************************************/

footer.page-footer {
  position: relative;
  height: 200px;
  background-color: var(--plum-purple);
  color: var(--cream);
}

footer.page-footer p {
  position: absolute;
  padding: 1rem;
  bottom: 0;
}

/****************************************
BASE FLEXBOX STYLES
****************************************/

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-spaced-around {
  justify-content: space-around;
}

.flex-spaced-between {
  justify-content: space-between;
}

.flex-align-center {
  align-items: center;
}

/* proportional flex sizing */
.flex-item-1x {flex: 1;}
.flex-item-2x {flex: 2;}
.flex-item-3x {flex: 3;}
.flex-item-4x {flex: 4;}

/****************************************
MEDIA QUERIES
****************************************/

@media all and (min-width: 640px) {
  .flex-container {
    flex-direction: row;
  }

  section {
    padding: 4rem 4rem;
  }

  header.page-header .page-header-title h1 {
    font-size: 6rem;
  }

  header.page-header .page-header-title h2 {
    font-size: 1.3rem;
  }

  header.page-header nav {
    width: 100%;
  }

  header.page-header nav a {
    margin: 1.5rem;
  }

  section h2 {
    text-align: left;
  }

  .contact-list li {
    display: block;
    margin: 3rem 1rem;
  }
}

@media all and (min-width: 1024px) {
  .headshot-container img {
    width: 60%;
  }

  .project {
    /* max-width: 400px; */
    max-width: 45%;
  }
}